body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-color: rgb(218, 149, 130);
    color: grey;
}

main
{
    height: 80vh;
    width: min-content;
    padding: 5vh 5vw;

    background-color: rgb(255, 193, 177);
}

.photo-gallery
{
    display: flex;
    flex-wrap: nowrap;
    gap: 16vw;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
}

img
{
    max-width: 80vw;
    max-height: 80vh;

    /* border: 12px solid #f5f5f5; */
    /* box-shadow: 0 8px 16px rgba(0,0,0,0.4); */
    box-shadow: 
    -1px 2px 4px rgba(0,0,0,0.3),
    -3px 4px 6px rgba(0,0,0,0.2),
    0 8px 12px rgba(0,0,0,0.15),
    0 12px 20px rgba(0,0,0,0.1);
}

/* footer
{
    height: 10vh;
    background-color: rgb(218, 149, 130);
} */

/*background-color: rgba(207, 105, 200, 0.620);*/