* {
    box-sizing: border-box;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

a {
    color: azure;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(237, 230, 218);
    background-size: 400% 400%;
}

header {
    width: 100dvw;
    height: 56dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(245, 243, 239);
}

main {
    width: 100%;
    height: 90dvh;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    scroll-snap-type: x mandatory;
    background-size: 400% 400%;
}

main::-webkit-scrollbar {
    display: none;
}

.gallery {
    height: 100%;
    width: max-content;
    min-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    gap: 36vw;
    background-color: floralwhite;
    background-size: 400% 400%;
    transform-origin: left center;
    transform-style: preserve-3d;
    animation: wallEnter 9.9s ease-out forwards;
    box-shadow:
        -17px -17px 1px rgba(230, 221, 205, 0.9),
        -16px -16px 1px rgba(230, 221, 205, 0.85),
        -15px -15px 1px rgba(230, 221, 205, 0.8),
        -14px -14px 1px rgba(230, 221, 205, 0.75),
        -13px -13px 1px rgba(230, 221, 205, 0.7),
        -12px -12px 1px rgba(230, 221, 205, 0.65),
        -11px -11px 1px rgba(230, 221, 205, 0.6),
        -10px -10px 1px rgba(230, 221, 205, 0.55),
        -9px -9px 1px rgba(230, 221, 205, 0.5),
        -8px -8px 1px rgba(230, 221, 205, 0.45),
        -6px -6px 1px rgba(230, 221, 205, 0.4),
        -5px -5px 1px rgba(230, 221, 205, 0.35),
        -4px -4px 1px rgba(230, 221, 205, 0.3),
        -3px -3px 1px rgba(230, 221, 205, 0.25),
        -2px -2px 1px rgba(230, 221, 205, 0.2),
        -1px -1px 1px rgba(230, 221, 205, 0.15);
}

.gallery:hover .gallery:active .gallery-item {
    animation-play-state: paused;
}

.gallery-item {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 8vw;
    scroll-snap-align: center;
}

.gallery-item[alt="주제"] {
    margin-left: 4vw;
    padding: 4vw;
    min-width: 40vw;
    min-height: 16vh;
    max-height: 80vw;
    box-shadow:
        1px 2px 4px rgba(0, 0, 0, 0.3),
        3px 4px 6px rgba(0, 0, 0, 0.2),
        0 8px 12px rgba(0, 0, 0, 0.15),
        0 12px 20px rgba(0, 0, 0, 0.1);
}

img {
    border: 16px solid #f5f5f5;
    max-width: 90vw;
    max-height: 80dvh;
    box-shadow:
        0 0 0 8px rgb(56, 48, 52),
        0px 15px 5px rgba(0, 0, 0, 0.3),
        0px 20px 8px rgba(0, 0, 0, 0.2),
        -16px 12px 10px rgba(0, 0, 0, 0.1),
        16px 12px 8px rgba(0, 0, 0, 0.15);
}

p {
    max-width: 94%;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20vw);
    }
}

@keyframes wallEnter {
    0% {
        transform: rotateY(45deg) translateZ(-800px) translateX(65vw);
    }

    20% {
        transform: rotateY(45deg) translateZ(-700px) translateX(65vw);
    }

    60% {
        transform: rotateY(30deg) translateZ(0) translateX(-10vw);
    }

    100% {
        transform: rotateX(-4deg) rotateY(0deg) translateZ(0) translateX(0);
    }
}

@keyframes lightOn {
    to {
        filter: brightness(1);
    }
}